#customized_image_block {
  right: 0px;
  position: absolute;
  opacity: 0.8;
  filter: alpha(opacity=80);  /* For IE8 and earlier */
}

#customized_name_block {
  position: absolute;
  right: 0px;
  margin: 10px 5px 0px 5px;
  font-size: 14px;
  font-weight: bold;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#top_banner {
 margin: 15px;
 padding: 10px;
 font-size: 50px;
 font-weight: bold;
 text-align: center;
 background-color: #93cdad;
 background-size: 10px 10px;
 @include linear-gradient(0deg, #93cdad 90%, #b6ddc7 10%);
 //width: 1840px;
}